name: Release Tar

# on:
#   push:
#     branches: [ master ]
#   pull_request:
#     branches: [ master ]

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout source
      uses: actions/checkout@v2
      
    - name: Tar the docker-go-1.19.tar Release
      run: tar -cvf docker-go-1.19.tar ./docker/docker-go-1.19/

    - name: Tar the docker-go-1.18.tar Release
      run: tar -cvf docker-go-1.18.tar ./docker/docker-go-1.18/
      
    - name: Release
      uses: softprops/action-gh-release@v0.1.15
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
          docker-go-1.19.tar
          docker-go-1.18.tar
      
